In [3]:
#Preprocessing 
# Data.csv = data complete
# data_types.csv =  type + dim + nclass
# Missingxx_y.csv = containing the position of the different missing values
import pandas as pd
import numpy as np
#Suppression des colones non-nécessaires
data = pd.read_excel("Big_Data_Strokdem.xlsx", usecols=lambda x: x not in ["SUBJID",
                                                                           "Identifiant_MR",
                                                                           "NOM_PAT",
                                                                           "PRENOM_PAT",
                                                                           "DDN",
                                                                           "BMI"
                                                                           "RIT_M6",
                                                                           "SENSIB_M6",
                                                                           "GB_REC_CORRECT_M6",
                                                                           "RIT_M36",
                                                                           "SENSIB_M36",
                                                                            "GB_REC_CORRECT_M36",
                                                                            "PLAINTE_COG_M6",
                                                                            "FAZEKAS_PERI_ACUTE",
                                                                            "FAZEKAS_SS_CORT_ACUTE",
                                                                            "NIHSS_SCORE_H72",
                                                                            "NIHSS_SCORE_J7"
                                                                           ], engine="openpyxl")

#Récupération de tous les attributs
data_features = data.columns



# M = 0 et F = 1
#NON (NO) = 0 and OUI (YES) = 1
#Remplacer les données catégorielle sur le genre en valeur 0 et 1
data["GENRE"] = data["GENRE"].replace({"M": 0,"F":1})
data["PATHO_CORO"] = data["PATHO_CORO"].replace({"NON": 0,"OUI":1})
data["INSUF_CARD"] = data["INSUF_CARD"].replace({"NON": 0,"OUI":1})
data["ARTERIOPATHIE"] = data["ARTERIOPATHIE"].replace({"NON": 0,"OUI":1})
data["SYND_APNEE_SOMM"] = data["SYND_APNEE_SOMM"].replace({"NON": 0,"OUI":1})
data["THROMB_VX_PROF"] = data["THROMB_VX_PROF"].replace({"NON": 0,"OUI":1})
data["EMBOL_PULM"] = data["EMBOL_PULM"].replace({"NON": 0,"OUI":1})
data["TB_RYTHME_CARD"] = data["TB_RYTHME_CARD"].replace({"NON": 0,"OUI":1})
data["DEPRESSION"] = data["DEPRESSION"].replace({"NON": 0,"OUI":1})
data["EPILEPSIE"] = data["EPILEPSIE"].replace({"NON": 0,"OUI":1})
data["CANCER"] = data["CANCER"].replace({"NON": 0,"OUI":1})
data["FRISQUVASC_HTA"] = data["FRISQUVASC_HTA"].replace({"NON": 0,"OUI":1})
data["FRISQUVASC_DIAB"] = data["FRISQUVASC_DIAB"].replace({"NON": 0,"OUI":1})
data["FRISQUVASC_HYPCHOL"] = data["FRISQUVASC_HYPCHOL"].replace({"NON": 0,"OUI":1})
data["FRISQUVASC_HYPTRI"] = data["FRISQUVASC_HYPTRI"].replace({"NON": 0,"OUI":1})
data["FRISQUVASC_TABAC"] = data["FRISQUVASC_TABAC"].replace({"NON": 0,"OUI":1})
data["FACTEUR_ALCOOL"] = data["FACTEUR_ALCOOL"].replace({"NON": 0,"OUI":1})
data["ACT_PHYS"] = data["ACT_PHYS"].replace({"NON": 0,"OUI":1})
data["SYND_TB_COG_M6"] = data["SYND_TB_COG_M6"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
data["SYND_TB_COG_M12"] = data["SYND_TB_COG_M12"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
data["SYND_TB_COG_M36"] = data["SYND_TB_COG_M36"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
data["SYND_TB_COG_M60"] = data["SYND_TB_COG_M60"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
#Il existe des valeurs "D" dans la base de donnée, on les remplace par des cases vides. Nous ne connaissons pas la signification de ce "D"
data = data.replace(to_replace="D",value=np.nan)

data["NB_PK_ANNE_TABAC"].fillna(0,inplace=True)
data.to_csv("data.csv",index=False)
data

C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:35: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["GENRE"] = data["GENRE"].replace({"M": 0,"F":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["PATHO_CORO"] = data["PATHO_CORO"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:37: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["INSUF_CARD"] = data["INSUF_CARD"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:38: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["ARTERIOPATHIE"] = data["ARTERIOPATHIE"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:39: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SYND_APNEE_SOMM"] = data["SYND_APNEE_SOMM"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:40: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["THROMB_VX_PROF"] = data["THROMB_VX_PROF"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:41: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["EMBOL_PULM"] = data["EMBOL_PULM"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:42: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["TB_RYTHME_CARD"] = data["TB_RYTHME_CARD"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["DEPRESSION"] = data["DEPRESSION"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:44: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["EPILEPSIE"] = data["EPILEPSIE"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:45: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["CANCER"] = data["CANCER"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:46: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FRISQUVASC_HTA"] = data["FRISQUVASC_HTA"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FRISQUVASC_DIAB"] = data["FRISQUVASC_DIAB"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:48: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FRISQUVASC_HYPCHOL"] = data["FRISQUVASC_HYPCHOL"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:49: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FRISQUVASC_HYPTRI"] = data["FRISQUVASC_HYPTRI"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:50: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FRISQUVASC_TABAC"] = data["FRISQUVASC_TABAC"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:51: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["FACTEUR_ALCOOL"] = data["FACTEUR_ALCOOL"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["ACT_PHYS"] = data["ACT_PHYS"].replace({"NON": 0,"OUI":1})
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:53: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SYND_TB_COG_M6"] = data["SYND_TB_COG_M6"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:54: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SYND_TB_COG_M12"] = data["SYND_TB_COG_M12"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:55: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SYND_TB_COG_M36"] = data["SYND_TB_COG_M36"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:56: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SYND_TB_COG_M60"] = data["SYND_TB_COG_M60"].replace({"NON": 0,"OUI":1,"NSP":np.nan}).astype("Int64",errors="ignore")
C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\4209004948.py:60: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["NB_PK_ANNE_TABAC"].fillna(0,inplace=True)

,GENRE,AGE,NB_AN_SCOL,IQ_CODE_J0,IQ_CODE_M6,IQ_CODE_M36,IQ_CODE_M60,PATHO_CORO,INSUF_CARD,ARTERIOPATHIE,...,MMSE_M6,MOCA_M6,MMSE_M36,MOCA_M36,MMSE_M60,MOCA_M60,SYND_TB_COG_M6,SYND_TB_COG_M12,SYND_TB_COG_M36,SYND_TB_COG_M60
0,1,58,8,49,48.0,48.0,48.0,0,0,0,...,21.0,21.0,24.0,21.0,24.0,21.0,1,1,1,1
1,0,55,14,48,49.0,NaN,NaN,0,0,0,...,30.0,27.0,NaN,NaN,NaN,NaN,0,<NA>,<NA>,<NA>
2,0,52,9,48,54.0,NaN,52.0,0,0,0,...,28.0,25.0,26.0,26.0,29.0,26.0,1,1,1,1
3,0,66,8,48,48.0,NaN,NaN,0,0,0,...,27.0,NaN,26.0,NaN,NaN,NaN,1,1,<NA>,<NA>
4,1,83,10,46,52.0,50.0,NaN,0,0,0,...,30.0,23.0,30.0,24.0,26.0,NaN,1,<NA>,1,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,1,78,10,48,NaN,NaN,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>
198,1,67,11,49,48.0,48.0,NaN,0,0,0,...,30.0,30.0,29.0,30.0,NaN,NaN,0,0,0,<NA>
199,0,64,12,48,NaN,NaN,NaN,0,0,0,...,NaN,NaN,30.0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>
200,0,49,11,48,NaN,51.0,NaN,0,0,0,...,28.0,28.0,30.0,28.0,NaN,NaN,0,0,0,<NA>
201,0,66,5,48,48.0,48.0,NaN,0,0,1,...,28.0,NaN,26.0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>

In [4]:
X = pd.read_csv("data.csv")

In [5]:
from hyperimpute.plugins.imputers import Imputers

imputers = Imputers()

imputers.list()

['gain',
 'ice',
 'softimpute',
 'mean',
 'sinkhorn',
 'miracle',
 'median',
 'missforest',
 'hyperimpute',
 'nop',
 'miwae',
 'sklearn_missforest',
 'EM',
 'most_frequent',
 'sklearn_ice',
 'mice']

In [6]:
import pandas as pd
import numpy as np
from hyperimpute.plugins.imputers import Imputers


method = "gain"
X = X.apply(pd.to_numeric, errors="coerce")

plugin = Imputers().get(method,batch_size=32,n_epochs=1000,hint_rate=0.5,loss_alpha=10)
out = plugin.fit_transform(X.copy())
out.columns = X.columns


truth_feature = ["SYND_TB_COG_M6","SYND_TB_COG_M12","SYND_TB_COG_M36","SYND_TB_COG_M60"]

out[truth_feature] = out[truth_feature].applymap(lambda x: 1 if x >= 0.5 else 0)





out.to_csv(f"Imputed_{method}.csv",index=False)

C:\Users\gmrou\AppData\Local\Temp\ipykernel_23432\3382996785.py:16: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  out[truth_feature] = out[truth_feature].applymap(lambda x: 1 if x >= 0.5 else 0)

In [7]:
import pandas as pd
import numpy as np
from hyperimpute.plugins.imputers import Imputers


method = "gain"
X = X.apply(pd.to_numeric, errors="coerce")

plugin = Imputers().get(method)
out = plugin.fit_transform(X.copy())
out.columns = X.columns
out.to_csv(f"Imputed_{method}.csv",index=False)

In [ ]:
#Comparasion des correlations

correlation = X.corr().stack().mean() - out.corr().stack().mean()
print(f"Différence moyenne de corrélation : {correlation:.4f}")

Différence moyenne de corrélation : 0.0000

In [ ]:
# import matplotlib.pyplot as plt


# out = pd.read_csv(f"Imputed_{method}.csv")

# for i,col in enumerate(out.columns):
#     plt.figure(figsize=(10,5))
#     plt.hist(out[col],bins=50,alpha=0.5,label="Imputed")
#     plt.hist(X[col],bins=50,alpha=0.5,label="Original")   
#     plt.title(f"Histogramme de la colonne {col}")
#     plt.legend()
#     plt.savefig(f"./distribution/{method}/hist_{col}_{method}.png")
#     plt.close()

In [22]:
from hyperimpute.utils.benchmarks import compare_models
# Run benchmarks
out = pd.read_csv(f"Imputed_{method}.csv",skiprows=1,header=None)
print(out)
_ = compare_models(
    name="example",
    evaluated_model=plugin,
    X_raw=out,
    ref_methods=["gain",'ice','mice','sinkhorn','miwae','mean','median'],
    scenarios=["MAR"],
    miss_pct=[0.3, 0.5],
    n_iter=2,
    n_jobs=2,
)

      0     1     2     3          4          5          6    7    8    9   \
0    1.0  58.0   8.0  49.0  48.000000  48.000000  48.000000  0.0  0.0  0.0
1    0.0  55.0  14.0  48.0  49.000000  45.151588  39.977375  0.0  0.0  0.0
2    0.0  52.0   9.0  48.0  54.000000  43.555187  52.000000  0.0  0.0  0.0
3    0.0  66.0   8.0  48.0  48.000000  35.158318  45.645912  0.0  0.0  0.0
4    1.0  83.0  10.0  46.0  52.000000  50.000000  52.605389  0.0  0.0  0.0
..   ...   ...   ...   ...        ...        ...        ...  ...  ...  ...
197  1.0  78.0  10.0  48.0  52.679775  22.405699  36.699409  0.0  0.0  0.0
198  1.0  67.0  11.0  49.0  48.000000  48.000000  50.833122  0.0  0.0  0.0
199  0.0  64.0  12.0  48.0  52.435173  32.749298  42.591194  0.0  0.0  0.0
200  0.0  49.0  11.0  48.0  46.930603  51.000000  49.321205  0.0  0.0  0.0
201  0.0  66.0   5.0  48.0  48.000000  48.000000  48.780434  0.0  0.0  1.0

     ...         31         32         33         34         35         36  \
0    ...  21.000000  21.000000  24.000000  21.000000  24.000000  21.000000
1    ...  30.000000  27.000000  29.247383  28.504698  29.728710  27.417648
2    ...  28.000000  25.000000  26.000000  26.000000  29.000000  26.000000
3    ...  27.000000  19.761269  26.000000  24.498497  24.163153  26.404221
4    ...  30.000000  23.000000  30.000000  24.000000  26.000000  23.319557
..   ...        ...        ...        ...        ...        ...        ...
197  ...  23.532223  16.294115  15.097929  22.498783   8.430998  16.867491
198  ...  30.000000  30.000000  29.000000  30.000000  29.512127  27.668518
199  ...  28.211922  25.313869  30.000000  27.790062  27.721096  27.889248
200  ...  28.000000  28.000000  30.000000  28.000000  29.353619  28.828022
201  ...  28.000000  21.984768  26.000000  22.633842  26.783308  28.197525

           37        38        39        40
0    1.000000  1.000000  1.000000  1.000000
1    0.000000  0.061709  0.133380  0.000374
2    1.000000  1.000000  1.000000  1.000000
3    1.000000  1.000000  0.521873  0.624726
4    1.000000  0.103936  1.000000  0.261190
..        ...       ...       ...       ...
197  0.054904  0.904160  0.043672  0.662017
198  0.000000  0.000000  0.000000  0.000007
199  0.000317  0.876532  0.002045  0.000959
200  0.000000  0.000000  0.000000  0.001650
201  0.254805  0.982354  0.137541  0.888700

[202 rows x 41 columns]
RMSE score

,Scenario,"miss_pct [0, 1]",Evaluated: gain,gain,ice,mice,sinkhorn,miwae,mean,median
0,MAR,0.3,0.1853 +/- 0.0011,0.188 +/- 0.0113,0.2064 +/- 0.0339,0.2213 +/- 0.0212,0.1677 +/- 0.0118,0.2265 +/- 0.0374,0.1875 +/- 0.0254,0.1935 +/- 0.0287
1,MAR,0.5,0.2746 +/- 0.0527,0.2746 +/- 0.0527,0.2534 +/- 0.057,0.4014 +/- 0.091,0.2695 +/- 0.0503,0.4645 +/- 0.1255,0.3113 +/- 0.0342,0.3861 +/- 0.0675

==========================================================

Wasserstein score

,Scenario,"miss_pct [0, 1]",Evaluated: gain,gain,ice,mice,sinkhorn,miwae,mean,median
0,MAR,0.3,0.0438 +/- 0.0016,0.0431 +/- 0.0102,0.0367 +/- 0.0001,0.1118 +/- 0.0081,0.06 +/- 0.0148,0.0869 +/- 0.0132,0.0999 +/- 0.0355,0.0822 +/- 0.0367
1,MAR,0.5,0.1576 +/- 0.0429,0.1576 +/- 0.0429,0.1651 +/- 0.0,0.3006 +/- 0.1215,0.2692 +/- 0.059,0.3274 +/- 0.108,0.4195 +/- 0.1151,0.3771 +/- 0.0812